CPTC.zip
fibonacci.c
INTORCHA.C
math.c
math.exe
mathemaical exp.c
mathematical exp2.c
matix muliply.c
matrix addition.c
NONAME04.CPP
print n number.c
Quarditic Equartion roots.c
star.c
struc&union.c
swap two =! third.c
w two.c
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
